
.card {
    background-color: #FFD1DC; 
    border: 2px solid #ff0000; 
    border-radius: 15px; 
    color: #6A5ACD; 
    padding: 20px; 
    margin-top: 50px; 
}


.btn {
    background-color: #00008b !important; 
    border-color: #00008b !important; 
    color: #00ffff !important; 
}

.text {
    color: #6A5ACD; 
}
